<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ZhiLianProjectServer2014</display-name>
  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.zhilian.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>JobhunterLoginServlet</display-name>
    <servlet-name>JobhunterLoginServlet</servlet-name>
    <servlet-class>com.jobhunter.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobhunterLoginServlet</servlet-name>
    <url-pattern>/Jobhunter/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobhunterRegisterServlet</display-name>
    <servlet-name>JobhunterRegisterServlet</servlet-name>
    <servlet-class>com.jobhunter.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobhunterRegisterServlet</servlet-name>
    <url-pattern>/Jobhunter/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobhunterPersonServlet</display-name>
    <servlet-name>JobhunterPersonServlet</servlet-name>
    <servlet-class>com.jobhunter.controller.PersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobhunterPersonServlet</servlet-name>
    <url-pattern>/Jobhunter/PersonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobhunterApplicationhistoryServlet</display-name>
    <servlet-name>JobhunterApplicationhistoryServlet</servlet-name>
    <servlet-class>com.jobhunter.controller.ApplicationhistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobhunterApplicationhistoryServlet</servlet-name>
    <url-pattern>/Jobhunter/ApplicationhistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobhunterPersonEditServlet</display-name>
    <servlet-name>JobhunterPersonEditServlet</servlet-name>
    <servlet-class>com.jobhunter.controller.PersonEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobhunterPersonEditServlet</servlet-name>
    <url-pattern>/Jobhunter/PersonEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobServlet</display-name>
    <servlet-name>JobServlet</servlet-name>
    <servlet-class>com.jobhunter.controller.JobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobServlet</servlet-name>
    <url-pattern>/JobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobhunterApplicationhistoryAddServlet</display-name>
    <servlet-name>JobhunterApplicationhistoryAddServlet</servlet-name>
    <servlet-class>com.jobhunter.controller.ApplicationhistoryAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobhunterApplicationhistoryAddServlet</servlet-name>
    <url-pattern>/Jobhunter/ApplicationhistoryAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.recruiter.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoShowServlet</display-name>
    <servlet-name>InfoShowServlet</servlet-name>
    <servlet-class>com.recruiter.controller.InfoShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoShowServlet</servlet-name>
    <url-pattern>/InfoShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoEditServlet</display-name>
    <servlet-name>InfoEditServlet</servlet-name>
    <servlet-class>com.recruiter.controller.InfoEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoEditServlet</servlet-name>
    <url-pattern>/InfoEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemandShowServlet</display-name>
    <servlet-name>DemandShowServlet</servlet-name>
    <servlet-class>com.recruiter.controller.DemandShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemandShowServlet</servlet-name>
    <url-pattern>/DemandShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemandAddServlet</display-name>
    <servlet-name>DemandAddServlet</servlet-name>
    <servlet-class>com.recruiter.controller.DemandAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemandAddServlet</servlet-name>
    <url-pattern>/DemandAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemandEditServlet</display-name>
    <servlet-name>DemandEditServlet</servlet-name>
    <servlet-class>com.recruiter.controller.DemandEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemandEditServlet</servlet-name>
    <url-pattern>/DemandEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemandDelServlet</display-name>
    <servlet-name>DemandDelServlet</servlet-name>
    <servlet-class>com.recruiter.controller.DemandDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemandDelServlet</servlet-name>
    <url-pattern>/DemandDelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.recruiter.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecruiterJobDetailServlet</display-name>
    <servlet-name>RecruiterJobDetailServlet</servlet-name>
    <servlet-class>com.recruiter.controller.JobDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecruiterJobDetailServlet</servlet-name>
    <url-pattern>/Recruiter/JobDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecruiterEmailServlet</display-name>
    <servlet-name>RecruiterEmailServlet</servlet-name>
    <servlet-class>com.recruiter.controller.EmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecruiterEmailServlet</servlet-name>
    <url-pattern>/Recruiter/EmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecruiterDetailServlet</display-name>
    <servlet-name>RecruiterDetailServlet</servlet-name>
    <servlet-class>com.recruiter.controller.DetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecruiterDetailServlet</servlet-name>
    <url-pattern>/Recruiter/DetailServlet</url-pattern>
  </servlet-mapping>
</web-app>